<md-data-table-toolbar ng-show="!selected.length">
    <h2 class="md-title">My Favourite</h2>
</md-data-table-toolbar>

<md-data-table-toolbar class="alternate" ng-show="selected.length">
    <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table class="md-primary" md-progress="deferred">
        <thead md-order="query.order">
            <tr>
                <th order-by="tempapartmentName" name="Name"></th>
                <th numeric order-by="temprentalFee" name="Rental Fee"></th>
                <th order-by="tempcity" name="City"></th>
                <th order-by="tempdistrict" name="District"></th>
                <th name="View"></th>
                <th name="Remove"></th>
            </tr>
        </thead>
        <tbody>
            <tr md-auto-select ng-repeat="appart in favoriteApartments | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit" >
                <td>{{appart.tempapartmentName}}</td>
                <td>{{appart.temprentalFee}}</td>
                <td>{{appart.tempcity}}</td>
                <td>{{appart.tempdistrict}}</td>
                <td><md-button class="md-icon-button" ng-click="viewApartment(appart)"><md-icon >pageview</md-icon></md-button></td>
                <td><md-button class="md-icon-button" ng-click="removeFavorite(appart);"><md-icon >delete</md-icon></md-button></td>
            </tr>
        </tbody>
    </table>
</md-data-table-container>

<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{favoriteApartments.length}}" md-trigger="onpagechange"></md-data-table-pagination>