<div layout-sm="column" layout-gt-sm="row">
    <div class="address-box" flex-sm="100" flex-md="50" flex-lg="40" flex-gt-lg="30" layout-padding layout-margin>
        <span class="md-title layout-margin-tb text-center">HOW MANY MONTH OF STAY</span>
        <input type="text" ng-model="monthToStay" />
        <md-button style=" background-color:green !important; width:100%; margin:10px 0px;  color:#FFFFFF !important;" ng-click="calculateFee(monthToStay);showResult = true">Calculate</md-button>
        <div ng-show="showResult">
           <div flex>
                <p class="md-headline">Property Overview</p>
                <div layout="row" layout-wrap class="border-collapse">
                    <div flex="70" layout-padding class="border">
                        Prepay Fee
                    </div>
                    <div flex="30" layout-padding class="border">
                        {{result.prepayFee}}
                    </div>
                    <div flex="70" layout-padding class="border">
                        Total price before move in
                    </div>
                    <div flex="30" layout-padding class="border">
                        {{result.advanceTotalPrice}}
                    </div>
                    <div flex="70" layout-padding class="border">
                       Total price per year
                    </div>
                     <div flex="30" layout-padding class="border">
                       {{result.totalPrice}}
                    </div>
					 <div flex="70" layout-padding class="border">
                      Total cost for the whole stay
                    </div>
                     <div flex="30" layout-padding class="border">
                      {{result.wholeStayFee}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="address-box" flex-sm="100" flex-md="50" flex-lg="40" flex-gt-lg="30" layout-padding layout-margin>
        <span class="md-title layout-margin-tb text-center" layout-align="center center">CONTRACT AGENT</span>
        <img src="img/team01.jpg" style="width:100%;" alt="image" />
        <p class="md-title layout-margin-10">{{viewAppartment.contractPerson}}</p>
        <div class="md-body-1 layout-margin-10">{{viewAppartment.email}}</div>
        <div class="md-body-1 layout-margin-10">{{viewAppartment.telephoneNumber}} </div>
    </div>
</div>
<md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
    <md-tab label=" Property Detail">
        <div layout="column" layout-padding>
            <div flex>
                <p class="md-headline">{{viewAppartment.apartmentName}}</p>
                <img ng-src="data:{{viewAppartment.photos[0].contentType}};base64,{{viewAppartment.photos[0].content}}" />
            </div>
            <div flex>
                <p class="md-headline">Property Overview</p>
                <div layout="row" layout-wrap class="border-collapse">
                    <div flex="30" layout-padding class="border">
                        Deposit
                    </div>
                    <div flex="70" layout-padding class="border">
                        {{viewAppartment.deposit}}
                    </div>
                    <div flex="30" layout-padding class="border">
                        Price
                    </div>
                    <div flex="70" layout-padding class="border">
                        {{viewAppartment.deposit}}
                    </div>
                    <div flex="30" layout-padding class="border">
                        Type
                    </div>
                    <div flex="70" layout-padding class="border">
                        {{viewAppartment.type}}
                    </div>
                    <div flex="30" layout-padding class="border">
                        Contract
                    </div>
                    <div flex="70" layout-padding class="border">
                        {{viewAppartment.contractPerson}}
                    </div>
                    <div flex="30" layout-padding class="border">
                        Telephone
                    </div>
                    <div flex="70" layout-padding class="border">
                        {{viewAppartment.telephoneNumber}}
                    </div>
                    <div flex="30" layout-padding class="border">
                        Email
                    </div>
                    <div flex="70" layout-padding class="border">
                        {{viewAppartment.email}}
                    </div>
                    <div flex="30" layout-padding class="border">
                        Location
                    </div>
                    <div flex="70" layout-padding class="border">
                        {{[viewAppartment.addressNo,viewAppartment.street,viewAppartment.city,viewAppartment.subDistrict,viewAppartment.district,viewAppartment.zipCode].join(" ")}}
                    </div>
                    <div flex="30" layout-padding class="border">
                        Bedrooms
                    </div>
                    <div flex="70" layout-padding class="border">
                        {{viewAppartment.numberOfBedroom}}
                    </div>
                    <div flex="30" layout-padding class="border">
                        Area
                    </div>
                    <div flex="70" layout-padding class="border">
                        {{viewAppartment.roomsize}}
                    </div>
                </div>
            </div>
            <div flex>
                <p class="md-headline">Property Features</p>
                <div layout-wrap layout="row">

                    <div flex="40" flex-md="50" layout-padding ng-repeat="aptFacility in appartmentFecilites">
                        <md-checkbox ng-disabled="true" ng-model="aptFacility.isPresent" aria-label="Checkbox 1">
                            {{aptFacility.type}}
                        </md-checkbox>
                    </div>

                    <!--<div flex-sm="100" flex-md="50" flex-gt-md="25" layout-padding ng-repeat="item in appartmentFecilites">{{item}}</div>-->

                </div>
            </div>
            <div flex>
                <p class="md-headline">Property Description</p>
                <p>{{viewAppartment.detail}}</p>
            </div>
            <div flex>
                <p class="md-headline">Comment</p>
                <div flex class="all-comments">
                    <div class="comment" ng-repeat="cmt in viewAppartment.messages" layout="row">
                        <div layout="column">
                            <img ng-src="data:{{viewAppartment.photos[0].contentType}};base64,{{viewAppartment.photos[0].content}}" style="height:60px;width:60px;border-radius:50%">
                            <p>{{cmt.nameofuser}}</p>
                            <p>{{getDateTimeString(cmt.date)}}</p>
                        </div>
                        <div flex>
                            <p>{{cmt.messageContent}}</p>
                        </div>
                    </div>
                </div>
                <textarea class="orp-comment" ng-model="comment"></textarea>
                <md-button class="md-raised" ng-click="addComment(comment)" style="color:#FFFFFF !important; background-color:blue !important">Comment</md-button>
            </div>
        </div>
    </md-tab>
    <md-tab label="Property Location">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
            <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" click="onMarkerClicked">
                <ui-gmap-windows show="show">
                    <div ng-non-bindable>{{title}}</div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </md-tab>
</md-tabs>