<md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">

    <md-tab label="Property Details">
        <div>
            <div class="card card-1" ng-repeat="appartment in appartments track by $index" ng-click="viewAppartment(appartment)">
                <div class="cardtop">
                    <p class="cardhead">Rent {{appartment.rentalFee}} per month</p>
                </div>
                <div>
                    <img ng-src="data:{{apartment.photos[0].contentType}};base64,{{apartment.photos[0].content}}" class="md-card-image cardimg" alt="">
                </div>
                <div class="cardbottom">
                    <i class="icon ion-android-home white"></i><span class="cardspan">{{appartment.roomsize}} M x M</span>
                    <i class="icon ion-ios-filing white"></i><span class="cardspan">{{appartment.numberOfBedroom}}</span>
                    <!-- <i class="icon ion-man white"></i><span class="cardspan">{{appartment.numberOfMonthForprepaid}} Month Prepaid</span>-->
                </div>
                <div class="resname">
                    <span class="md-headline font14">{{appartment.apartmentName}}</span>
                    <p class="ptag">{{[appartment.addressNo,appartment.street,appartment.city,appartment.district].join(' ')}}</p>
                </div>
                <!--<div class="resname2">
    <md-button class="md-icon-button favbtn" ng-click="addFavorite(appartment);">
        <div layout="row">
            <md-icon class="fav" ng-class="{orange:checkForFavoriteAdded(appartment.id)}">favorite</md-icon>
        </div>
    </md-button>
</div>-->
            </div>
        </div>
    </md-tab>
    <md-tab label="Property Location">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
            <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" click="onMarkerClicked">
                <ui-gmap-windows show="show">
                    <div ng-non-bindable>{{title}}</div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </md-tab>
</md-tabs>
<md-button ng-click="createApartment();" class="md-fab md-primary md-fab-bottom-right mdfabpos" aria-label="Profile">
    <md-icon>mode_edit</md-icon>
</md-button>